<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="style.css"/>
    <title>Create Task</title>
</head>
<th:block th:include="/htmlFragment/headerLoggedIn :: header"></th:block>
<body>
<div id="container">
      <a class="back-button" th:href="@{/viewProject?id={id}(id=${project.project_id})}">;</a>
 </div>
 <div id="input-form">
    <form th:action="@{/createTask?id={id}(id=${project.getProjectName})}" method="POST">
          <p>Task Name
          <p><input type="text" class="form-control" name="taskName" required>
          <p>Description
          <p><input type="text" class="form-control" name="taskDesc" required></p>

            <p>Kick-off
            <p><input type="date" class="form-control" name="kickoff" required>
            <p>Deadline
            <p><input type="date" class="form-control" name="deadline" required>
                            <div class="button">
                <input type="Submit" class="submit-button" value="  Create!  ">
            </div>
            <br>
            <br>
        </form>
    </div>
</div>
</body>
<th:block th:include="/htmlFragment/footer :: footer"></th:block>
</html>