<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="style.css"/>
    <title>Create Task</title>
</head>

<th:block th:include="/htmlFragment/headerLoggedIn :: header"></th:block>
<body>
<div id="container">
    <div id="input-form">
        <h1>Welcome <p th:text="${userName}"></p> <br>Here are your Tasks!<br> </h1>

<table style = "margin-top: 20px;">
    <tr>
        <th>Task Number:</th>
        <th>Task Name</th>
        <th>Start</th>
        <th>Finish</th>
        <th>Estimated budget</th>
        <th>Update Task</th>
    </tr>
    <tr>
        <form action="/createProject" method="post">
            <td></td>
            <td><input type="text" name="Task"></td>
            <td><input type="date" name="start"></td>
            <td><input type="date" name="finish"></td>
            <td><input type="text" name="budget"></td>
            <td><input type="submit" class="like" value="Add Task"></td>
        </form>
    </tr>

    <tr id="tr1" th:border="1" th:each="task : ${tasks}">
        <td></td>
        <td th:text="${task.getName()}"></td>
        <td th:text="${task.getStart()}"></td>
        <td th:text="${task.getFinish()}"></td>
        <td th:text="${task.getBudget}"></td>
        <td><form th:action="@{/update/{id}(id=${task.getName()})}" th:object="${task}">
            <button type="submit">Update project</button>
        </form>
        </td>
    </tr>
</table>
</div>
</div>
</body>
<th:block th:include="/htmlFragment/footer :: footer"></th:block>
</html>