<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="style.css"/>
    <script src="javascript.js"></script>
    <title>Index</title>

</head>

<th:block th:include="/Fragment/headerFragment :: header"></th:block>

<Body>
<div th:fragment="header">
    <div class="header">
        <a href="/">
            <img style="width: 50px; " src="img/logo.png" alt="No Logo">
        </a>
        <div class="header-right">
            <a href="/">Home</a>
            <span></span>
            <a href="about">About us</a>
            <span></span>
            <a href="login">Login</a>
        </div>
    </div>
</div>




     <div id="input-form">
             <div class="pictureContainer">
                 <div class="centeredTop"><h1>PlanIt</h1></div>
            <img src="img/IT project manager.png" align="centered" style="width:85%;">
             <div class="centeredBelow">PlanIt the Project Calculation and Management tool</div>
                 <!-- <div class="centered">
                     <a href="/login">
                     <input type="Submit" class="submit-button" value="  Click here to login  "></a></div>-->
                 <center>
                     <a href="/login">
                         <input type="Submit" class="submit-button" value="  Click here to login  "></a></center>
            <br>

    </div>
</div>

</body>

</div>

<div id="footer">
    <th:block th:include="/Fragment/footerFragment :: footer"></th:block>
</div>

</html>
