<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="style.css"/>
    <script src="javascript.js"></script>
    <title>Index</title>

</head>
<body>
<p>HELLO WORLD!</p>
<div id="input-form">
    <div class="pictureContainer">
        <div class="centeredTop"><h1>PlanIt</h1></div>
        <img src="img/IT project manager.png" align="centered" style="width:85%;">
        <div class="centeredBelow">PlanIt the Project Calculation and Management tool</div>
        <!-- <div class="centered">
            <a href="/login">
            <input type="Submit" class="submit-button" value="  Click here to login  "></a></div>-->
        <center>
            <a href="/login">
                <input type="Submit" class="submit-button" value="  Click here to login  "></a></center>
        <br>

    </div>
</div>
</body>
</html>